.textarea {
  
  
  &__control {
    width: 100%;
    border-radius: 4px;
    font-size: 1rem;
    padding: 1rem;
    border: 1px solid #A7A9AC;
    outline: none;
    font-weight: 100;
    outline: none;
    resize: none;

     &--invalid {
       border-color: red;
     }
  }

  &__error {
    color: red;
  }

  &__label {
    display: block;
    padding-bottom: 0.5rem;
    font-weight: 100;
  }

  &__img {
    position: absolute;
    right: 2rem;
    top: 50%;
    transform: translateY(-50%);
    width: 1.7rem;
  }
}
