.checkbox {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.checkbox .checkbox__input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.checkbox__checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 1.5rem;
  width: 1.5rem;
  background-color: white;
  border: 1px solid #A7A9AC;

  &--circle {
    height: 1rem;
    width: 1rem;
    border-radius: 50%;
    border-color: green;
  }
}

.checkbox:hover .checkbox__input ~ .checkbox__checkmark {
  background-color: #eee;
}

.checkbox .checkbox__input:checked ~ .checkbox__checkmark {
  background-color: green;
}

.checkbox__checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

.checkbox .checkbox__input:checked ~ .checkbox__checkmark:after {
  display: block;
}