.my-reports {
  width: 100%;

  &__label {
    margin-bottom: .5rem;
  }

  &__table {
    border: 1px solid #A7A9AC;
    border-collapse: collapse;
    width: 100%;
  }

  &__head {
    border-bottom: 1px solid #A7A9AC;
  }

  
  &__row {
    border-bottom: 1px solid #A7A9AC;
    cursor: pointer;

    &:hover {
      background-color: #dff3ef;
    }

    &:last-child {
      border-bottom: none;
    }
  }

  &__item {
    text-align: left;
    padding: 1rem;
  }
}
