html {
  font-size: 16px;
}

html.access {
  font-size: 20px;
}

@mixin font($font-family, $font-file, $font-weight) {
  @font-face {
    font-family: $font-family;
    src: url($font-file) format('truetype');
    font-weight: $font-weight;
    font-style: normal;
    font-display: fallback;
  }
}

@include font('Montserrat', 'fonts/Montserrat-Thin.ttf', 100);
@include font('Montserrat', 'fonts/Montserrat-ExtraLight.ttf', 200);
@include font('Montserrat', 'fonts/Montserrat-Light.ttf', 300);
@include font('Montserrat', 'fonts/Montserrat-Regular.ttf', 400);
@include font('Montserrat', 'fonts/Montserrat-Medium.ttf', 500);
@include font('Montserrat', 'fonts/Montserrat-SemiBold.ttf', 600);
@include font('Montserrat', 'fonts/Montserrat-Bold.ttf', 700);
@include font('Montserrat', 'fonts/Montserrat-ExtraBold.ttf', 800);
@include font('Montserrat', 'fonts/Montserrat-Black.ttf', 900);


*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  font-family: 'Montserrat', sans-serif;
}

body {
  box-sizing: border-box;
  min-height: 100vh;
}

.active {
  border-bottom: 2px solid black;
}

.main-greed {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.header {
  background-color: orange;
  height: 5rem;
  width: 100%;
}

.content {
  display: flex;
  flex-grow: 1;
}

.sidebar {
  background-color: white;
  // width: 20%;
  flex: 1;
  background-color: chartreuse;
}

.main {
  background-color: yellowgreen;
  // width: 80%;
  flex: 4.5;
  padding: 2rem;
}

.footer {
  height: 10rem;
  background-color: black;
}